.account-form-title {
    text-align: center;
}

.account-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;

    background-color: #ffb5b5;
}

.result-message {
    text-align: center;
    max-width: fit-content;

    display: block;
    margin-left: auto;
    margin-right: auto;

    font-size: 20px;
}

.account-form-link {
    text-align: center;
}

.account-label {
    margin: 5px;

    font-size: 16px;
}

.account-input {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;

    font-size: 16px;
}

.account-submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: fit-content;

    font-size: 16px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}