.community {
    background-color: #f8f9fa; 
    border-radius: 8px;       
    padding: 20px;            
    max-width: 600px;         
    margin: 20px auto;        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;       
}

h3 {
    font-size: 24px;          
    margin-bottom: 10px;      
    color: #343a40;           
}

p {
    font-size: 18px;          
    margin: 5px 0;     
    
    color: #495057;           
}

audio {
    width: 100%;              
    margin-top: 10px;        
}

button {
    background-color: #007bff; 
    color: white;             
    border: none;              
    border-radius: 5px;       
    padding: 10px 15px;       
    cursor: pointer;           
    font-size: 16px;          
    margin-top: 15px;         
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #0056b3; 
}

